:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #DDFCFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  color: #704834;
  line-height: 1.1;
}

h2 {
  color: #77836D
}

p {
  color: #000000
}

.start-button {
  width: 300px; 
  height: 60px; 
  padding: 0; 
  margin: 0; 
  background: #FCEE21;
  box-shadow: 2px 6px 6.5px 1px rgba(0, 0, 0, 0.25);
  color: #2d3436; 
  font-size: 1rem; 
  font-family: 'Arial', sans-serif;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 90px;
  right: 230px;

}
.start-button:hover {
  border-color: #646cff;
}
.start-button:focus,
.start-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.landingPageLogo {
  right: 100px;
  height:900px;
}

.no-scroll-container {
  overflow: hidden;
  width:100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}